<%= form_for(@gist) do |f| %>
  <% if @gist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gist.errors.count, "error") %> prohibited this gist from being saved:</h2>

      <ul>
      <% @gist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>




<table width="100%">
  <thead>
    <tr>
      <th></th>
      <th width="80%"></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td></td>
        <td>
          <div align="left">
            <%= f.text_field :file_name %>
          <div>
        </td>
        <td></td>
      </tr>
      
      <tr>
        <td></td>
        <td>
          <div id="editor"></div>
          <%= f.hidden_field :text %>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>
        </td>
        <td>
          <div class="class="div_h_left"">
            <%= f.submit %>
          </div>
        </td>
        <td></td>
      </tr>
  </tbody>
</table>


<% end %>

<script>

  var editor = ace.edit("editor", {
    theme: "ace/theme/tomorrow_night_blue",
    mode: "ace/mode/html",
    autoScrollEditorIntoView: true,
    maxLines: 30,
    minLines: 10
  });
  editor.setValue(document.getElementById("gist_text").value, -1);
  
  editor.on("change", function () {
    document.getElementById("gist_text").value = editor.getValue()
  });
  
</script>