<%= form_for(@gist) do |f| %>
  <% if @gist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gist.errors.count, "error") %> prohibited this gist from being saved:</h2>

      <ul>
      <% @gist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :file_name %><br>
    <%= f.text_field :file_name %>
  </div>
  <div class="field">
    <%= f.label :text %><br>

    <div id="editor"></div>
    <%= f.hidden_field :text %>
  </div>
  

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<script>
  var editor = ace.edit("editor", {
    theme: "ace/theme/tomorrow_night_blue",
    mode: "ace/mode/html",
    autoScrollEditorIntoView: true,
    maxLines: 30,
    minLines: 10
  });
  editor.setValue(document.getElementById("gist_text").value);
  
  editor.on("change", function () {
    document.getElementById("gist_text").value = editor.getValue()
  });
  
</script>