<h1>View gist</h1>
<div class="error"><%=flash[:error]%></div>

<div class="div_container">
  <div class="div_h_container">
    <div class="div_h_left">
      <%= @gist.file_name %>
    </div>
    <div class="div_h_right">
      <%= @gist.user.email %>
    </div>
  </div>
  <input type="hidden" value="<%= @gist.text %>" id="text_editor"/>
  <div id="editor" class="editor_show"></div>
  <div class="div_h_container">
    <div class="div_h_left">
      <% if current_user %>
        <input value="Comment add" type="button" id="action_comment_new_to_gist_<%= @gist.id %>" onclick="commentNew(this.id, <%= @gist.id %>)"/>
      <% end %>
    </div>
    <div class="div_h_right">
      <% if current_user && current_user == @gist.user %>
        <%= link_to 'Edit', edit_gist_path(@gist) %>
        <%= link_to 'Destroy', @gist, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
  </div>
  <div>
    <ul class="list-group" id="comments_gist_<%= @gist.id %>">
      <li class="list-group-item">
        <div align="center">Comments</div>
      </li>
      <% @gist.comments.each do |c| %>
        <li class="list-group-item" id="comment_<%= c.id %>">
          <div align="right"><%=c.user.email%></div>
          <input type="hidden" value="<%= c.text %>" id="text_editorcomment_<%= c.id %>"/>
          <div id="editorcomment_<%= c.id %>"></div>
        </li>
      <%end%>
    </ul>
  </div>
</div>