<p id="notice"><%= notice %></p>

<p>
  <strong>File name:</strong>
  <%= @gist.file_name %>
</p>
    
<p>    
  <strong>Text:</strong>
  <%= @gist.text %>
  
    <div id="editor"></div>
</p>

<%= link_to 'Edit', edit_gist_path(@gist) %>
<%= link_to 'Back', gists_path %>


<script>
  var editor = ace.edit("editor", {
    theme: "ace/theme/tomorrow_night_blue",
    mode: "ace/mode/html",
    autoScrollEditorIntoView: true,
    maxLines: 30,
    minLines: 10
  });
  editor.setValue(@gist.text);
  
  
</script>